.navbar {
  width: 100%;
  height: 75px;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 20;
 background:linear-gradient(to right, rgb(74, 211, 202), rgb(87, 202, 214), rgb(68, 145, 232));
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.navbar-logo {
  font-size: 28px;
  font-weight: bold;
  color:black
 
}
.navbar-links {
    list-style: none;
    display: flex;
    gap: 25px;
    color: black;
}
.navbar-links li a {
  text-decoration: none;
  color: #ffffffcc;
  font-size: 20px;
  padding: 8px 14px;
  border-radius: 10px;
  transition: 0.3s ease;
}
.navbar-links li a:hover {
  background: rgba(255, 255, 255, 0.2);
}
.active-link {
  background: rgba(0, 183, 255, 0.3);
  color: #fff;
  border-bottom: 2px solid #00b7ff;
}.hamburger {
  width: 28px;
  height: 22px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.hamburger span {
  width: 100%;
  height: 3px;
  background: white;
  border-radius: 5px;
  transition: 0.3s;
}
.hamburger.open span:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}


@media (max-width: 760px) {
  .hamburger {
    display: flex;
  }

  .navbar-links {
    position: absolute;
    top: 75px;
    right: -100%;
    width: 100%;
    text-align: center;
    height: calc(100vh - 75px);

    background: rgba(0, 0, 0, 0.55);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);

    flex-direction: column;
    padding-top: 20px;
    gap: 20px;
    transition: 0.4s ease;
  }

  .navbar-links li a {
    font-size: 18px;
    padding: 10px 20px;
  }


  .navbar-links.show-menu {
    right: 0;
  }
}