.forecast-container {
  width: 100%;
  height: 90vh;
  margin-top: 75px;

  text-align: center;
  background: linear-gradient(135deg, #4facfe 0%, #00f2fe 100%);
}

.forecast-container h1 {
  font-size: 48px;
  margin-bottom: 10px;
  padding-top: 60px;
}

.forecast-container h2 {
  font-size: 28px;
  margin-bottom: 30px;
  opacity: 0.9;
}

.forecast-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
}

.forecast-card {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 20px;

  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
}

.forecast-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.forecast-card h3 {
  margin-bottom: 10px;
  font-size: 20px;
}

.forecast-card img {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

.forecast-card .temp {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.forecast-card .desc {
  font-size: 16px;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.forecast-card .min-max {
  font-size: 14px;
  opacity: 0.8;
}

.loading,
.error {
  font-size: 18px;
  margin-top: 20px;
}

.back-btn {
  margin-top: 40px;
  padding: 12px 30px;
  font-size: 16px;
  border: none;
  border-radius: 15px;
  background: rgba(227, 49, 49, 0.837);
  color: #d1c12d;
  cursor: pointer;
}

.back-btn:hover {
  background: rgb(168, 42, 42);
  cursor: pointer;
}
