* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


.home-wrapper {
  width: 100%;
  min-height: 100vh;
  
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.home-container {
  position: relative;
  z-index: 2;
  padding-top: 100px; 
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 80px); 
}

.home-title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.search-form {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 20px;
}

.search-input {
  width: 300px;
  padding: 12px 16px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 18px;
  background: rgba(255, 255, 255, 0.3);
  color: #fff;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.search-input::placeholder {
  color: #f3f3f3;
}
.forecast-btn {
  margin-top: 20px;
  padding: 12px 24px;
  border: none;
  border-radius: 10px;
  background: #00b7ff;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 60px;
}

.forecast-btn:hover {
  background: #0095d6;
}

.search-btn {
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  background: #00b7ff;
  font-size: 18px;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.search-btn:hover {
  background: #008ed1;
}

.error-text {
  color: #ffb4b4;
  margin-top: 10px;
  font-size: 16px;
}