.weather-card {
  width:100%;
  max-width: 650px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 14px;
  padding: 26px;
  color: black;
  margin: 25px auto;
  box-shadow: 0 8px 30px;
  transition: transform 0.3s;
}
.weather-card:hover {
  transform: translateY(-5px);
}
.weather-header {
  text-align: center;
}
.weather-header h2 {
  font-size: 32px;
  margin: 0;
}
.weather-desc {
  font-size: 18px;
  opacity: 0.8;
  text-transform: capitalize;
}
.weather-main {
  text-align: center;
  margin: 20px, 0;
}
.weather-main img {
  width: 100px;
  height: 100px;
}
.weather-main h1 {
  font-size: 50px;
  margin: 10px 0 5px;
}
.weather-main p {
  font-size: 16px;
  opacity: 0.8;
}
.weather-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 20px;
}
.grid-item {
  padding: 12px;
  background: rgba(37, 37, 36, 0.4);
  border-radius: 15px;
  text-align: center;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  transition: 0.3s;
}
.grid-item:hover {
  background: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  transform: scale(1.1);
}
.grid-item P{
    font-size: 18px;
    opacity: 0.8;
    margin: 0;
}
.grid-item h4 {
  margin-top: 5px;
  font-size: 18px;
}